// settings.scss
@use 'vuetify/settings' with (
  $color-pack: false,
  $utilities: (
    "overflow": false,
    "overflow-x": false,
    "overflow-y": false,
    // "display": false,
    "float": false,
    "float:rtl": false,
    "float:ltr": false,
    // "flex": false,
    "flex-direction": false,
    "flex-grow": false,
    "flex-shrink": false,
    "flex-wrap": false,
    // "fill-height": false,
    // "justify-content": false,
    // "align-items": false,
    "align-content": false,
    "align-self": false,
    "order": false,
    "margin": false,
    // "margin-x": false,
    "margin-y": false,
    "margin-top": false,
    "margin-right": false,
    "margin-bottom": false,
    "margin-left": false,
    "margin-start": false,
    "margin-end": false,
    "negative-margin": false,
    "negative-margin-x": false,
    "negative-margin-y": false,
    "negative-margin-top": false,
    "negative-margin-right": false,
    "negative-margin-bottom": false,
    "negative-margin-left": false,
    "negative-margin-start": false,
    "negative-margin-end": false,
    // "padding": false,
    "padding-x": false,
    // "padding-y": false,
    "padding-top": false,
    "padding-right": false,
    "padding-bottom": false,
    "padding-left": false,
    "padding-start": false,
    "padding-end": false,
    "rounded": false,
    "rounded-top": false,
    "rounded-end": false,
    "rounded-bottom": false,
    "rounded-start": false,
    "rounded-top-start": false,
    "rounded-top-end": false,
    "rounded-bottom-end": false,
    "rounded-bottom-start": false,
    "border": false,
    "border-opacity": false,
    "border-top": false,
    "border-end": false,
    "border-bottom": false,
    "border-start": false,
    "border-style": false,
    // "text-align": false,
    // "text-decoration": false,
    "white-space": false,
    "overflow-wrap": false,
    // "text-opacity": false,
    "text-overflow": false,
    // "typography": false,
    "text-transform": false,
    // "font-weight": false,
    "font-italic": false,
    "text-mono": false,
  )
);
